<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
        <h4 class="alert-heading">
            <svg class="bi flex-shrink-0 me-2 offset-4" role="img" aria-label="Danger:" width="24" height="24">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <%= message %>
        </h4>
    </div>
</div>